# Python
.venv/
__pycache__/
*.py[cod]
*.log
db.sqlite3
backend/venv/
backend/signed_documents/
users/
# Env
.env


# Node / React
node_modules/
build/
dist/
frontend/node_modules/
frontend/build/
frontend/dist/

# Django
staticfiles/

# Editor / OS
.vscode/
.idea/
.DS_Store
user_test