# Python
.venv/
__pycache__/
*.py[cod]
*.log
C:\VIET\CA_system\backend\db.sqlite3

# Env
.env
.env.*

# Node / React
node_modules/
build/
dist/
frontend/node_modules/
frontend/build/
frontend/dist/

# Django
staticfiles/

# Editor / OS
.vscode/
.idea/
.DS_Store
user_test